RewriteEngine On

# Redirigir todas las solicitudes que no sean archivos o directorios existentes a la carpeta public
RewriteCond %{REQUEST_URI} !^/Biblioteca/public/


# Redirigir todas las solicitudes a public/index.php
RewriteRule ^(.*)$ public/index.php [L]
