<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/normalize.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../../public/css/navbar.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="../../../public/images/logo.png" alt="logo gestor biblioteca">
        </a>

        <label class="icons" for="">

            <i class='bx bx-menu'></i>
        </label>

        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Services</a>
        </nav>
    </header>
</body>

</html>